thesis.aux
thesis.bbl
thesis.blg
thesis.log
thesis.out
thesis.pdf
thesis.synctex.gz
thesis.toc
thesis.fdb_latexmk
thesis.fls
thesis.lof
thesis.lot
tomtat.pdf
thesis.run.xml
thesis.bbl-SAVE-ERROR
thesis.bcf
thesis.run.xml
note.txt



